.settings
target
.classpath
.factorypath
.project
.errai
.springBeans
.metadata
gwt-unitCache
\_generators
log
\catalina.*
*.cache
*.tmp
*.log
*.iml
.idea
.recommenders
/.externalToolBuilders
/.apt_generated
/.gwt
/www-test
/war
/*.launch
